.DS_Store
.cache/
.coverage
.vscode
coverage.xml
*.egg-info/
*.pyc
__pycache__/
.ipynb_checkpoints/
.pytest_cache/
build/
dist/
notes/
data/
bert/
model/
navec/
rubert/
events.out.tfevents.*
slovnet_ner_news_v1.tar
slovnet_ner_custom_tags.tar
